<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
    
        <title>Contato</title>
  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>        
        <link href="assets/css/navbar.css" rel="stylesheet">
        <link href="assets/css/contato.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>

    <body>
        <%- include("inc/navbar")-%>

        <div class="container">
            <h1 class="entre-contato text-center mb-3">Entre em contato!</h1>
            <div class="row text-center justify-content-center">
                <div class="col-4">
                    <form action="/contato" method="POST">
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome">
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Seu e-mail">
                        </div>
                        <div class="mb-3">
                            <textarea type="text" placeholder="Digite sua mensagem aqui.." class="form-control" id="mensagem" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn enviar">
                            Enviar
                        </button>
                    </form>

                <% if(typeof envio == "string"){
                    %> <div class="alert alert-success" role="alert">
                        <%= envio %>
                      </div> <%
                } %>

                </div>
                <div class="col-4">
                    <div class="row mb-3">
                        <a href="https://api.whatsapp.com/send?phone=558585794849&text=Olá", target="_blank">
                        <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5" y="6" width="72" height="69" fill="white"/>
                            <path d="M80.9595 18.4163C80.9258 16.6786 80.7865 14.9446 80.5424 13.2239C80.2514 11.6933 79.757 10.2086 79.0722 8.80919C77.5731 5.84971 75.17 3.445 72.2115 1.9441C70.8212 1.2625 69.3461 0.769426 67.8254 0.477924C66.0915 0.228766 64.344 0.0867393 62.5928 0.0526527C61.8516 0.0243013 60.8918 0.0121507 60.4463 0.0121507L20.5619 0C20.1164 0 19.1565 0.0121506 18.4153 0.040502C16.6778 0.0739834 14.9439 0.213298 13.2233 0.457673C11.6928 0.748638 10.2081 1.2431 8.80875 1.9279C5.84959 3.42728 3.44506 5.83051 1.944 8.78894C1.26261 10.1794 0.769575 11.6545 0.4779 13.1753C0.227623 14.9091 0.0842526 16.6567 0.0486003 18.4082C0.0243003 19.1494 0.00810038 20.1093 0.00810038 20.5548L0 60.4412C0 60.8867 0.01215 61.8466 0.0405 62.5878C0.0739797 64.3254 0.213288 66.0594 0.45765 67.7801C0.748648 69.3107 1.24308 70.7954 1.9278 72.1949C3.42711 75.1542 5.83022 77.5588 8.7885 79.06C10.179 79.7413 11.654 80.2343 13.1747 80.5261C14.9085 80.7753 16.656 80.9173 18.4073 80.9514C19.1484 80.9797 20.1082 80.9919 20.5538 80.9919L60.4382 81C60.8837 81 61.8435 80.9878 62.5846 80.9595C64.3222 80.9259 66.0561 80.7866 67.7768 80.5423C69.3072 80.2512 70.7918 79.7567 72.1913 79.0721C75.1519 77.5734 77.5579 75.1701 79.0601 72.2111C79.7415 70.8206 80.2346 69.3455 80.5262 67.8247C80.7766 66.0909 80.9199 64.3433 80.9555 62.5918C80.9798 61.8506 80.996 60.8907 80.996 60.4452L81 20.5629C81 20.1174 80.9879 19.1575 80.9595 18.4163ZM41.3789 68.6793H41.3667C36.5458 68.6783 31.802 67.4697 27.5684 65.1637L12.2594 69.1775L16.358 54.2201C13.1846 48.7131 11.9166 42.3129 12.7506 36.0119C13.5846 29.7109 16.474 23.8611 20.9708 19.3694C25.4676 14.8777 31.3206 11.9952 37.6222 11.1686C43.9239 10.3421 50.3222 11.6177 55.8252 14.7978C61.3281 17.9779 65.6282 22.8847 68.0588 28.7575C70.4894 34.6303 70.9147 41.141 69.2687 47.2801C67.6228 53.4192 63.9975 58.8438 58.955 62.7128C53.9125 66.5817 47.7345 68.679 41.3789 68.6793Z" fill="#349A9C"/>
                            <path d="M41.5087 16.004C37.1313 16.0028 32.8335 17.1504 29.0621 19.3275C25.2908 21.5046 22.1838 24.6317 20.0641 28.3837C17.9444 32.1356 16.8895 36.3753 17.0091 40.6619C17.1288 44.9485 18.4185 49.1254 20.7442 52.7583L21.3271 53.6654L18.8509 62.5178L28.1232 60.1367L29.0161 60.655C32.7907 62.8449 37.097 64.0002 41.4839 64H41.4963C47.994 64.0011 54.226 61.4735 58.8213 56.9734C63.4167 52.4733 65.9989 46.3692 66 40.004C66.0011 33.6389 63.421 27.5339 58.8272 23.0323C54.2334 18.5307 48.0023 16.0011 41.5046 16L41.5087 16.004ZM55.9112 50.3042C55.3694 51.1808 54.6482 51.9381 53.793 52.5284C52.9379 53.1187 51.9673 53.5293 50.9423 53.7342C49.3947 53.9942 47.8066 53.8972 46.3041 53.4508C44.8791 53.0158 43.4785 52.5075 42.1082 51.9281C37.0224 49.4279 32.6874 45.6753 29.5287 41.0387C27.8056 38.8923 26.7597 36.2998 26.5193 33.5793C26.4994 32.4564 26.7185 31.3418 27.1626 30.3064C27.6067 29.2711 28.2661 28.3377 29.0988 27.5657C29.3449 27.2907 29.6463 27.0685 29.9843 26.9131C30.3222 26.7577 30.6892 26.6724 31.0624 26.6626C31.5502 26.6626 32.0421 26.6626 32.4721 26.6869C32.9268 26.7072 33.5303 26.5168 34.1256 27.9261C34.7457 29.3678 36.2174 32.9193 36.3993 33.2797C36.516 33.4686 36.5828 33.6831 36.5937 33.9037C36.6045 34.1243 36.559 34.3441 36.4613 34.5432C36.2758 34.9764 36.028 35.3814 35.7254 35.7459C35.3534 36.167 34.9524 36.6854 34.6217 37.0094C34.2496 37.3698 33.8693 37.7585 34.2951 38.4794C35.401 40.3343 36.7816 42.0184 38.3918 43.4766C40.1389 44.9982 42.1436 46.2096 44.3157 47.0564C45.0515 47.4209 45.4814 47.3561 45.9113 46.8742C46.3413 46.3923 47.7509 44.7684 48.2429 44.0476C48.7348 43.3267 49.2226 43.4482 49.8964 43.6872C50.5702 43.9261 54.1957 45.6715 54.9315 46.0359C55.6673 46.4004 56.1593 46.5745 56.3412 46.8742C56.5428 48.0341 56.3933 49.2265 55.9112 50.3042Z" fill="#349A9C"/>
                        </svg>
                        <h3>(85)9 8888-8888</h3>
                    </a>
                    </div>
                    <div class="row mb-3">
                        <a href="https://www.instagram.com/ong_velaumar/?hl=pt" target="_blank">
                        <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="7" y="10" width="64" height="60" fill="white"/>
                            <path d="M39 29.7131C37.1634 29.7138 35.3682 30.2591 33.8414 31.2799C32.3147 32.3008 31.1249 33.7515 30.4225 35.4485C29.7202 37.1455 29.5367 39.0127 29.8955 40.8139C30.2542 42.6152 31.139 44.2696 32.4379 45.568C33.7368 46.8665 35.3916 47.7506 37.193 48.1087C38.9944 48.4667 40.8615 48.2826 42.5582 47.5796C44.255 46.8766 45.7052 45.6863 46.7255 44.1592C47.7458 42.632 48.2904 40.8366 48.2904 39C48.2885 36.5369 47.309 34.1753 45.567 32.434C43.825 30.6927 41.4631 29.714 39 29.7131ZM60.7129 22.5747C60.2401 21.3766 59.5262 20.2884 58.6154 19.3776C57.7046 18.4668 56.6164 17.7529 55.4183 17.2801C51.7621 15.8368 43.0567 16.1606 39 16.1606C34.9433 16.1606 26.2467 15.8246 22.58 17.2801C21.3818 17.7529 20.2936 18.4668 19.3828 19.3776C18.4721 20.2884 17.7581 21.3766 17.2854 22.5747C15.8438 26.231 16.1658 34.945 16.1658 38.9983C16.1658 43.0515 15.8438 51.7551 17.2923 55.4235C17.7651 56.6217 18.479 57.7099 19.3898 58.6207C20.3006 59.5314 21.3888 60.2453 22.5869 60.7181C26.2432 62.1615 34.9485 61.8376 39.007 61.8376C43.0654 61.8376 51.7586 62.1737 55.4253 60.7181C56.6234 60.2453 57.7116 59.5314 58.6224 58.6207C59.5332 57.7099 60.2471 56.6217 60.7199 55.4235C62.1737 51.7673 61.8394 43.0532 61.8394 39C61.8394 34.9468 62.1737 26.2449 60.7199 22.5765L60.7129 22.5747ZM39 53.2768C36.1763 53.2768 33.416 52.4395 31.0682 50.8707C28.7204 49.302 26.8905 47.0722 25.81 44.4635C24.7294 41.8547 24.4467 38.9842 24.9975 36.2147C25.5484 33.4453 26.9081 30.9014 28.9048 28.9048C30.9014 26.9081 33.4453 25.5484 36.2147 24.9975C38.9842 24.4467 41.8547 24.7294 44.4635 25.81C47.0722 26.8905 49.302 28.7204 50.8707 31.0682C52.4395 33.416 53.2768 36.1763 53.2768 39C53.2791 40.8755 52.9114 42.733 52.1947 44.4662C51.478 46.1994 50.4265 47.7741 49.1003 49.1003C47.7741 50.4265 46.1994 51.478 44.4662 52.1947C42.733 52.9114 40.8755 53.2791 39 53.2768ZM53.8653 27.4567C53.2061 27.457 52.5616 27.2619 52.0134 26.8959C51.4652 26.53 51.0378 26.0096 50.7853 25.4008C50.5328 24.7919 50.4666 24.1218 50.5949 23.4752C50.7233 22.8287 51.0406 22.2348 51.5065 21.7685C51.9725 21.3023 52.5663 20.9848 53.2128 20.856C53.8592 20.7273 54.5294 20.7932 55.1384 21.0454C55.7474 21.2975 56.268 21.7247 56.6342 22.2727C57.0005 22.8208 57.1959 23.4651 57.1959 24.1243C57.1978 24.562 57.1132 24.9958 56.947 25.4008C56.7808 25.8057 56.5363 26.1739 56.2275 26.4841C55.9187 26.7944 55.5517 27.0406 55.1475 27.2087C54.7433 27.3768 54.31 27.4634 53.8722 27.4637L53.8653 27.4567ZM69.6429 0H8.35714C6.14069 0 4.01502 0.880482 2.44775 2.44775C0.880482 4.01502 0 6.14069 0 8.35714L0 69.6429C0 71.8593 0.880482 73.985 2.44775 75.5523C4.01502 77.1195 6.14069 78 8.35714 78H69.6429C71.8593 78 73.985 77.1195 75.5523 75.5523C77.1195 73.985 78 71.8593 78 69.6429V8.35714C78 6.14069 77.1195 4.01502 75.5523 2.44775C73.985 0.880482 71.8593 0 69.6429 0ZM66.6621 50.4911C66.4375 54.9534 65.419 58.9074 62.1615 62.1563C58.9039 65.4051 54.9534 66.4445 50.4963 66.6569C45.8981 66.9163 32.1123 66.9163 27.5142 66.6569C23.0518 66.4323 19.1117 65.4121 15.849 62.1563C12.5862 58.9004 11.5607 54.9447 11.3483 50.4911C11.0889 45.8912 11.0889 32.1036 11.3483 27.5089C11.5729 23.0466 12.5792 19.0926 15.849 15.8438C19.1187 12.5949 23.0692 11.5677 27.5142 11.3553C32.1123 11.0958 45.8981 11.0958 50.4963 11.3553C54.9587 11.5799 58.9109 12.6001 62.1615 15.8559C65.4121 19.1117 66.4497 23.0675 66.6621 27.5298C66.9216 32.1123 66.9216 45.8877 66.6621 50.4911Z" fill="#349A9C"/>
                        </svg>
                        
                        <h3>
                            @ONGvelaumar
                        </h3>
                        </a>
                    </div>
                    <div class="row">
                        <a href="https://www.facebook.com/velaumarong/" target="_blank">
                        <svg width="77" height="77" viewBox="0 0 77 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="14" y="8" width="56" height="69" rx="10" fill="white"/>
                            <path d="M14.0597 0C6.27127 0 0 6.27125 0 14.0597V62.9402C0 70.7287 6.27127 76.9999 14.0597 76.9999H40.5526V46.8978H32.5927V36.06H40.5526V26.8008C40.5526 19.5262 45.2557 12.847 56.0897 12.847C60.4763 12.847 63.72 13.2681 63.72 13.2681L63.4649 23.3888C63.4649 23.3888 60.1567 23.3575 56.5469 23.3575C52.64 23.3575 52.0135 25.1576 52.0135 28.146V36.0601H63.7753L63.2627 46.8978H52.0135V77H62.9403C70.7287 77 77 70.7288 77 62.9403V14.0598C77 6.27133 70.7287 7.69999e-05 62.9403 7.69999e-05L38.5 3.84999e-05L14.0597 0Z" fill="#349A9C"/>
                        </svg>
                        <h3>
                            /velaumarong
                        </h3>
                        </a>
                    </div>
                </div>
            </div>
            

            </div>
        </div>        
        
        
    </body>

</html>