<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
    
        <title>Doação</title>
    
        <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/doacao.css" rel="stylesheet">
    </head>

    <body>
        <%-include("inc/navbar")-%>

    </body>

</html>
