<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
    
        <title>Sobre a Velaumar</title>
  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>        
        <link href="assets/css/navbar.css" rel="stylesheet">
        <link href="assets/css/sobre.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>

    <body>
        <%- include("inc/navbar")-%>

        <div class="bg-sobre">
            <img src="images/docs_bg.png">
        </div>

        <div class="title-sobre text-center">
            <h1>Sobre a velaumar</h1>
            <p>
                Fundada em 2004 por Dona Rocilda Lima, a ONG VelauMar tem a missão de cuidar e zelar pela vida comunitária em prol da dignidade da Pessoa humana. Responsável por inúmeras ações no Poço da Draga, a ONG Velaumar é o caminho e a ponte para construção de uma Comunidade criativa e participativa. Hoje é gerida por Izabel Lima, Marilac Lima e Junior Pantera. Fundamentais do Poço da Draga Aqui somos todes importantes e únicos no processo de construção do lugar que desejamos viver. É de responsabilidade de toda comunidade e cada ser cuidar do Poço da Draga / Baixa Pau. E alguns parceiros são fundamentais como os projetos: Composta Poço Coletivo Fundo da caixa Horta Comunitária Cassia Vasconcelos Feira das Manas Expresso 115 - Sérgio Rocha como Mediador social. Teco como articulador de artes visuais. Mestre Tubarão Tiago da Capoeira, Professor Márcio Robim Arte Mão Livre 
            </p>
        </div>

        <div class="title-sobre text-center">
            <h1>Localização</h1>
        </div>

        <iframe class="localizacao-velumar" width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJs06o60lIxwcRxHFdO2jDmpE&key=AIzaSyDB12oqROT5v7FS3FPsj3K4cWN7z3WdqLo"></iframe>

        
    </body>

</html>