body {
  font-size: .875rem;
}

#content-section {
    clear: both;
}


#btn-send-file {
    margin-top: 40px;
    display: flex;
}

#btn-send-file svg {
  width: auto;
  height: auto;
}

.btn-link.btn-icon {
    text-align: left;
    padding-left: 20px;
}
.btn-link.btn-icon i {
    margin-right: 10px;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#list-of-files-and-directories li {
  animation: reveal 0.3s linear;
  box-shadow: 0px 2px 4px grey;
  border: none;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px;
  width: 20%;
  height: auto;
}

.selected {
  background-color: #A8DCE6;
  color: #fff;
  border-radius: 2px;
}

.btn {
  display: flex;
  margin: 10px auto;
  width: -moz-available;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 4px grey;
}

.right-buttons {
  border-left: 1px solid grey;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 18%;
}

#btn-new-folder svg {
  width: auto;
  height: auto;
}

#btn-rename svg {
  width: auto;
  height: auto;
}

#btn-delete svg {
  width: auto;
  height: auto;
}

#btn-open svg {
  width: auto;
  height: auto;
}

#btn-cancel-upload {
  margin:auto;
  background-color: rgba(0, 0, 0, 0);
}

.filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#modal-file img {
  width: 100%;
}

#bread-list {
  list-style-type: none;  
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  height: auto;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  box-shadow: 0px 2px 4px grey;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 2px 4px grey;
}

/*Resize the wrap to see the search bar change!*/


@keyframes reveal {
  0%{
      opacity: 0;
      margin-top: 40px;
  }
  100%{
      opacity: 1;
      margin-top: 0px;
  }
}